# Node modules
/node_modules/

# Next.js build output
.next/

# Next.js serverless functions
/.serverless/

# Production build
/.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules/
/.pnp/
/.pnp.js

# Testing
/coverage/

# Next.js TypeScript
*.tsbuildinfo

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js custom server
/server/

# IDE/Editor specific
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
